@model DroneWebApp.Models.Project

@{
    ViewBag.Title = "Delete Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Delete Project: <font color='red'>@Model.ProjectCode</font></h2>

@if (@ViewBag.ErrorProjectstDelete != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorProjectstDelete
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        <strong>WARNING</strong>: Are you sure you want to delete this <strong>Project</strong>? This will delete ALL drone flights assigned to it!
    </div>
}
<div>
    <h4>Project</h4>
    <hr />
    <table class="table table-bordered table-hover table-striped fixedTableLayout">
        <tr>
            <th>
                Flights assigned to this Project
            </th>
            <td>
                @ViewBag.TotalFlights
            </td>
        </tr>
        
        <tr>
            <th>
                @Html.DisplayName("Project Code")
            </th>
            <td>
                @Html.DisplayFor(model => model.ProjectCode)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayName("Site Reference Code")
            </th>

            <td>
                @Html.DisplayNameFor(model => model.SiteRefCode)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayName("Vertical Reference")
            </th>
            <td>
                @Html.DisplayNameFor(model => model.VerticalRef)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayName("Coordinate System")
            </th>
            <td>
                @Html.DisplayNameFor(model => model.CoordSystem)
            </td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to Projects List", "Index", null, new { @class = "btn btn-primary btn-sm" })
        </div>
    }
</div>
