@model DroneWebApp.Models.Drone

@{
    ViewBag.Title = "Delete Drone";
}

<h2>Delete @Model.DroneName</h2>

<h3>Are you sure you want to delete <strong>@Model.DroneName</strong>?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DroneName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registration)
        </dd>

        <dt>
            @Html.DisplayName("Drone Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DroneType)
        </dd>




    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
