@model DroneWebApp.Models.Drone

@{
    ViewBag.Title = "Delete Drone";
}

<br />
<h2>Delete drone: <font color='red'>@Model.DroneName</font></h2>


@if (@ViewBag.ErrorDroneDelete != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorDroneDelete
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        Are you sure you want to delete this <strong>drone</strong>?
    </div>
}
<div>
    <hr />
    <div>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <td>
                    @Html.DisplayFor(model => model.DroneName)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayName("Total Flights")
                </th>
                <td>
                    @Model.DroneFlights.Count
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayName("Total Time Flown")
                </th>
                <td>
                    @Model.TotalFlightTime.ToString()
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Registration)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Registration)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DroneType)
                </th>
                <td>
                    @Html.DisplayFor(model => model.DroneType)
                </td>
            </tr>
        </table>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
