@model DroneWebApp.Models.Drone

@{
    ViewBag.Title = "Details";
}

<br />
<h2 class="textAlignCenter">Drone Details</h2>

<div>
    <h4><strong>@Model.DroneName</strong></h4>
    <div>
        Export options:
        @Html.ActionLink("CSV", "Export", "Files", new { id = @Model.DroneId, extension = "csv", type = "drone" }, new { @class = "btn btn-info btn-sm", style = "color: white" })
        @Html.ActionLink("PDF", "Export", "Files", new { id = @Model.DroneId, extension = "pdf", type = "drone" }, new { @class = "btn btn-info btn-sm", style = "color: white" })
    </div>
    <hr />
    <table class="table table-bordered table-hover table-striped  fixedTableLayout">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <td>
                @Html.DisplayFor(model => model.DroneName)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayName("Total Flights")
            </th>
            <td>
                @Model.DroneFlights.Count | @Html.ActionLink("View Flights", "DroneFlights", new { id = @Model.DroneId }, new { @class = "btn btn-primary btn-sm", style = "color: white" })
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayName("Total Time Flown")
            </th>
            <td>
                @Model.TotalFlightTime.ToString()
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Registration)
            </th>
            <td>
                @Html.DisplayFor(model => model.Registration)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DroneType)
            </th>
            <td>
                @Html.DisplayFor(model => model.DroneType)
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit Drone", "Edit", new { id = Model.DroneId }) |
    @Html.ActionLink("Back to Drones List", "Index")
</p>
