@model DroneWebApp.Models.Drone

@{
    ViewBag.Title = "Details";
}

<br />
<h2>Drone Details</h2>

<div>
    <h4><strong>@Model.DroneName</strong></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DroneName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DroneType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DroneType)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DroneId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
