@model IEnumerable<DroneWebApp.Models.Drone>

@{
    ViewBag.Title = "Drone Index";
}

<br />
<h2 style="text-align:center">Drones</h2>

<h4>@Html.ActionLink("Create new Drone", "Create", "", new { @class = "btn-info btn-lg", style = "color:white; text-decoration:none;" })</h4>
<hr />

<table id="dtable" class="ui celled table table-hover" cellspacing="0" width="100%" style="text-align: center">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Drone Type")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration)
            </th>
            <th>
                @Html.DisplayName("Total Flights")
            </th>
            <th>Total Time Flown</th>
            <th>Export Logbook</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DroneName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DroneType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DroneFlights.Count) @Html.ActionLink("[View]", "DroneFlights", new { id = item.DroneId })
                </td>
                <td>
                    @item.TotalFlightTime.ToString()
                </td>
                <td>
                    @Html.ActionLink("CSV", "Export", "Files", new { id = item.DroneId, extension = "csv", type = "drone" }, new { @class = "btn btn-info btn-sm", style = "color: white" })
                    @Html.ActionLink("PDF", "Export", "Files", new { id = item.DroneId, extension = "pdf", type = "drone" }, new { @class = "btn btn-info btn-sm", style = "color: white" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DroneId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DroneId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DroneId })
                </td>
            </tr>
        }
    </tbody>
</table>
