@model DroneWebApp.Models.DroneFlight

@{
    ViewBag.Title = "Drone Flight Details";
}

<br />
<h2>Drone Flight Details</h2>

<div>
    <h4>Drone Flight @Model.FlightId</h4>
    <hr />
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <td>
                @Html.DisplayFor(model => model.Location)
            </td>
        </tr>
        
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>

            <td>
                @Model.Date.ToString("dd/MM/yy")
            </td>
        </tr>
        
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Drone)
            </th>
            <td>
                @Html.DisplayFor(model => model.Drone.DroneType):
                @Html.DisplayFor(model => model.Drone.Registration)
            </td>
        </tr>
        
        <tr>
            <th>
                @Html.DisplayName("Pilot")
            </th>
            <td>
                @Html.DisplayFor(model => model.PilotName)
            </td>
        </tr>

        <tr>
            <th>
                Documents
            </th>
            <td>
                @if (!@Model.hasQR)
                {
                    <a href="@Url.Action("Index", "Home")" class="btn btn-danger btn-sm">
                        <span>
                            QR
                        </span>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Index", "Home")" class="btn btn-success btn-sm disabled">
                        <span>
                            QR
                        </span>
                    </a>
                }
                @if (!@Model.hasDroneLog)
                {
                    <a href="@Url.Action("Index", "Home")" class="btn btn-danger btn-sm">
                        <span>
                            DroneLog
                        </span>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Index", "Home")" class="btn btn-success btn-sm disabled">
                        <span>
                            QR
                        </span>
                    </a>
                }
                @if (!@Model.hasGCPs)
                {
                    <a href="@Url.Action("Index", "Home")" class="btn btn-danger btn-sm ">
                        <span>
                            GCP
                        </span>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Index", "Home")" class="btn btn-success btn-sm disabled">
                        <span>
                            GCP
                        </span>
                    </a>
                }
                @if (!@Model.hasTFW)
                {
                    <a href="@Url.Action("Index", "Home")" class="btn btn-danger btn-sm">
                        <span>
                            TFW
                        </span>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Index", "Home")" class="btn btn-success btn-sm disabled">
                        <span>
                            TFW
                        </span>
                    </a>
                }
                @if (!@Model.hasXYZ)
                {
                    <a href="@Url.Action("Index", "Upload")" class="btn btn-danger btn-sm">
                        <span>
                            XYZ
                        </span>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Index", "Upload")" class="btn btn-success btn-sm disabled">
                        <span>
                            XYZ
                        </span>
                    </a>
                }

            </td>
        </tr>
        
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FlightId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
