@model IEnumerable<DroneWebApp.Models.GroundControlPoint>

@{
    ViewBag.Title = "Ground Control Points";
}

<br />
<h2>Ground Control Points</h2> 
<h4>Flight @ViewBag.droneFlight.FlightId (@ViewBag.droneFlight.Location, @ViewBag.droneFlight.Date.ToString("dd/MM/yyyy"))</h4>

<p>@Html.ActionLink("Upload File", "Index", "Files", new { id = ViewBag.DroneFlightId }, new { @class = "btn btn-info btn-sm whiteText" })</p>

<div>
    <table id="gcpptable" class="ui celled table table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.X)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Y)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Z)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GCPName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.X)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Y)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Z)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    @Html.ActionLink("Back to Flight Details", "Details", new { id = ViewBag.DroneFlightId }) |
    @Html.ActionLink("Back to Drone Flights List", "Index")
</p>
