@model IEnumerable<DroneWebApp.Models.RawImage>

@{
	ViewBag.Title = "Images";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Images</h2>
<h4>Flight @ViewBag.droneFlight.FlightId (@ViewBag.droneFlight.Location, @ViewBag.droneFlight.Date.ToString("dd/MM/yyyy"))</h4>

<p>@Html.ActionLink("Upload File", "Index", "Files", new { id = ViewBag.DroneFlightId }, new { @class = "btn btn-info btn-sm", style = "color: white" })</p>

<div>
	<hr />
	@*spacing aanpassen hier*@
	<table id="imgtable" class="ui celled table table-hover table-striped" cellspacing="0" width="100%" style="text-align: center">
		<thead>
			<tr>
				<th>
					@Html.DisplayName("Metadata")
				</th>
				<th>
					@Html.DisplayName("Image")
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						<table id="metadatatable">
							<tr>
								<th>Field</th>
								<th>Value</th>
							</tr>

							<tr>
								<td>Filename</td>
								<td>@item.FileName</td>
							</tr>
							<tr>
								<td>Image Width</td>
								<td>@item.ImageWidth</td>
							</tr>
							<tr>
								<td>Image Height</td>
								<td>@item.ImageHeight</td>
							</tr>
							<tr>
								<td>Create date</td>
								<td>@item.CreateDate</td>
							</tr>
							<tr>
								<td>Filename</td>
								<td>@item.GpsAltitude</td>
							</tr>
							<tr>
								<td>Filename</td>
								<td>@item.GpsLatitude</td>
							</tr>
							<tr>
								<td>Filename</td>
								<td>@item.GpsLongitude</td>
							</tr>
						</table>
					</td>
					<td>
						@*<img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Image_PlaceHolder.png" />*@
						@{string imageConverted = "data:image/jpg;base64," + Convert.ToBase64String(item.RawData, 0, item.RawData.Length);
							//double reductionFactor = 0.25;
							//int reducedWidth =  Convert.ToInt32(item.ImageWidth * reductionFactor);
							//int reducedHeight = Convert.ToInt32(item.ImageHeight * reductionFactor);
							}

						<img src="@imageConverted" width="684" height="456" />
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<p>
	@Html.ActionLink("Back to Flight Details", "Details", new { id = ViewBag.DroneFlightId }) |
	@Html.ActionLink("Back to Drone Flights List", "Index")
</p>
