@model DroneWebApp.Models.TFW

@{
    ViewBag.Title = "TFW";
}

<br />
<h2>TFW</h2>
<h4>Flight @ViewBag.droneFlight.FlightId (@ViewBag.droneFlight.Location, @ViewBag.droneFlight.Date.ToString("dd/MM/yyyy"))</h4>

<p>@Html.ActionLink("Upload File", "Index", "Files", new { id = ViewBag.DroneFlightId }, new { @class = "btn btn-info btn-sm", style = "color: white" })</p>

<div>
    <hr />
    <h4></h4>
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.xScale_X)
            </th>

            <td>
                @Html.DisplayFor(model => model.xScale_X)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.yRotationTerm_X)
            </th>

            <td>
                @Html.DisplayFor(model => model.yRotationTerm_X)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TranslationTerm_X)
            </th>

            <td>
                @Html.DisplayFor(model => model.TranslationTerm_X)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.xRotationTerm_Y)
            </th>

            <td>
                @Html.DisplayFor(model => model.xRotationTerm_Y)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.yNegativeScale_Y)
            </th>

            <td>
                @Html.DisplayFor(model => model.yNegativeScale_Y)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TranslationTerm_Y)
            </th>

            <td>
                @Html.DisplayFor(model => model.TranslationTerm_Y)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DroneFlight.Location)
            </th>

            <td>
                @Html.DisplayFor(model => model.DroneFlight.Location)
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Back to Flight Details", "Details", new { id = ViewBag.DroneFlightId }) |
    @Html.ActionLink("Back to Drone Flights List", "Index")
</p>