@{
    ViewBag.Title = "File Upload";
}

<p></p>
<h2>File Upload</h2>

<div id="initialMessage">
    <h4>Please select the file you want to add to <strong>Flight @ViewBag.FlightId</strong> (<strong>@ViewBag.Location</strong>, <strong>@ViewBag.Date</strong>)</h4>
</div>

<div id="progressField" class="alert alert-info" hidden>
    Adding files to <strong>Flight @ViewBag.FlightId</strong> (<strong>@ViewBag.Location</strong>, <strong>@ViewBag.Date</strong>)<br/>
    <strong><span class="amtRead"></span></strong> out of <strong><span class="totalRead"></span></strong> files. Please wait...
</div>

<div id="successfullyAdded" class="alert alert-success" role="alert" hidden>
    <strong><span class="amtRead"></span></strong> out of <strong><span class="totalRead"></span></strong> files were read.
    Files <span id="fileNames"></span> have been successfully added to your Flight.<br />
    <div id="showNavigation">
        @Html.ActionLink("Back to Drone Flights List", "Index", "DroneFlights")
    </div>
</div>

@if (ViewBag.ErrorMessage != null)
{
    <div class="btn-danger btn-sm" role="alert">
        @ViewBag.ErrorMessage
    </div>
}


<div class="card" style="padding: 20px; width:auto">
    <form class="form-inline" method="post" enctype="multipart/form-data" id="Myform">
        <div class="form-group">
            <label for="InputFile">File:</label>
            <input type="file" class="form-control mx-sm-3" id="file" name="files" multiple>
        </div>
        <div id="uploadbtn" class="form-group">
            <input type="submit" value="Upload" class="btn btn-primary mx-sm-3">
        </div>
    </form>
</div>

<div id="uploadstatus"></div>
<div id="progressbar"></div>

<p>
    @Html.ActionLink("Back to Drone Flights List", "Index", "DroneFlights")
</p>