@{
    ViewBag.Title = "File Upload";
}

<p></p>
<h2>File Upload</h2>

@* Update *@

<div id="successfullyAdded" class="alert alert-success" role="alert" hidden>
    File <strong>@ViewBag.FileName</strong> has been successfully added to your Flight.<br />
    @Html.ActionLink("Back to Drone Flights List", "Index", "DroneFlights")
</div>

<div id="alreadyExists" class="alert alert-danger" role="alert" hidden>
    File <strong>@ViewBag.FileName</strong> already exists and has not been read.<br />
    @Html.ActionLink("Back to Drone Flights List", "Index", "DroneFlights")
</div>


@if (ViewBag.ErrorMessage != null)
{
    <div class="btn-danger btn-sm" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

<div id="initialMessage">
    <h4>Please select the file you want to add to <strong>Flight @ViewBag.FlightId</strong> (<strong>@ViewBag.Location</strong>, <strong>@ViewBag.Date</strong>)</h4>
</div>
<div id="continuationMessage" hidden>
    <h4>You can add more files to <strong>Flight @ViewBag.FlightId</strong> (<strong>@ViewBag.Location</strong>, <strong>@ViewBag.Date</strong>)</h4>
</div>
    

@* Update *@

<div class="card" style="padding: 20px; width:auto">
    <form class="form-inline" method="post" enctype="multipart/form-data" id="Myform">
        <div class="form-group">
            <label for="InputFile">File:</label>
            <input type="file" class="form-control mx-sm-3" id="file" name="files">
        </div>
        <div id="uploadbtn" class="form-group">
            <input type="submit" value="Upload" class="btn btn-primary mx-sm-3">
        </div>
    </form>
</div>

<div id="uploadstatus"></div>
<div id="progressbar"></div>

<p>
    @Html.ActionLink("Back to Drone Flights List", "Index", "DroneFlights")
</p>