@model DroneWebApp.Models.Pilot

@{
    ViewBag.Title = "Pilot Details";
}

<br />
<h2 style="text-align:center">Pilot Details</h2>

<div>
    <h4><strong>@Model.PilotName</strong></h4>
    <hr />
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <td>
                @Html.DisplayFor(model => model.PilotName)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayName("Total Flights")
            </th>

            <td>
                @Model.DroneFlights.Count
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>

            <td>
                @Html.DisplayFor(model => model.Street)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZIP)
            </th>

            <td>
                @Html.DisplayFor(model => model.ZIP)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>

            <td>
                @Html.DisplayFor(model => model.City)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>

            <td>
                @Html.DisplayFor(model => model.Country)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>

            <td>
                @Html.DisplayFor(model => model.Phone)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayName("License No")
            </th>

            <td>
                @Html.DisplayFor(model => model.LicenseNo)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayName("Emergency Phone")
            </th>

            <td>
                @Html.DisplayFor(model => model.EmergencyPhone)
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PilotId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
