@model IEnumerable<DroneWebApp.Models.Pilot>

@{
    ViewBag.Title = "Pilot Index";
}

<br />
<h2>Pilot Index</h2>

<p>
    @Html.ActionLink("Create new Pilot", "Create")
</p>
<table id="ptable" class="ui celled table table-hover" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Pilot")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayName("License No")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayName("Emergency Phone")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PilotName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZIP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenseNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmergencyPhone)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PilotId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PilotId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PilotId })
                </td>
            </tr>
        }
    </tbody>
</table>
